html {
    font-size: 10px;
}


#profile-pic-main {
    width: 150px;
    
}

#picmain {
    font-size: 2rem;
}

#picmain ul {
    list-style-type: none;
}

#caller-list {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

#caller-main {
    color: aliceblue;
    font-size: 2rem;
}

.call-btn {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid aliceblue;
    cursor: pointer;
    position: absolute;
    right:0;
}

.call-btn:hover {
    background-color: #41a85f;
    padding: 2%;
}

.call-item-name {
    font-size: 2rem;
    max-width: 33%;
}

#profile-list {
    width: 20%;
    color: aliceblue;

}

.root {
    width: 100%;
    border-bottom: 1px solid grey;
    background-color: rgba(85, 64, 191, 0.5);
}

li.call-item-name {
    margin-right:2%;
    width: 25%;
}