html {
    font-size: 10px;
}

.form-view {
    display: flex;
    justify-content: flex-start;
}

.pic-holder {
    max-width: 50%;
}

.left-pic {
    position: absolute;
    height: 100vh;
    z-index: -1;
}
.form-holder {
    width: 50%;
    padding-left: 60%;
}

#search-fieldset{
    font-size: 2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 0 auto;
}

#search-fieldset input{
    margin: 10px auto 0 auto;
}

fieldset {
    
    border: none;
}
legend {
    font-size: 2rem;
    color: black;
    text-align: center;
}

#reminder {
    width: 60%;
    height: 80px;
    border-radius: 10px;
}

#date, #year {
    margin: 0 auto;
}

.radios {
    display: flex;
    justify-content: space-evenly;

}

.radios label {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

fieldset label {
    padding:2% 0 2% 0;
}

.calendar {
    display: flex;
    justify-content: center;
}

#search-submit {
    border-radius: 5px;
    background-color: white;
    width: 100px;
    height: 50px;
    border: 1px solid white;
}

.text-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submit-btn {
    width: 100px;
    color: #f0f8ff;
    border: 1px solid #f0f8ff;
    border-radius: 5px;
    background-color: initial;
    font-size: 1.5rem;
    margin-right: 5%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: aliceblue;
    color: rgba(85, 64, 191, 1);
}